@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: Chantilly-Serial;
    src: url('./assets/fonts/chantilly-serial-bold.ttf') format('truetype');
}
@font-face {
    font-family: Apercu-Light;
    src: url('./assets/fonts/Apercu Light.otf') format('truetype');
}
@font-face {
    font-family: Apercu-Regular;
    src: url('./assets/fonts/Apercu Regular.otf') format('truetype');
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

a:hover {
     text-decoration:none;  
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}

body::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

#Mobile-Navbar {
    display: none;
}

.nav-link {
    color: black;
    padding-left: 0;
    font-size: 15px;
}

.nav-link:hover { 
    color: #8DCBB5; 
}

.navbar-brand {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 30px;
}

#Sidebar {
    padding-top: 3rem;
}

#About-Picture {
    max-width: 30%;
    max-height: 40%;
    object-fit: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: right;
    margin: -10% 0 0 0;
}

#About-Page {
    height: 100vh;
}

#About-Header {
    padding-top: 5rem;
}

#About-Name {
    font-family: 'Chantilly-Serial';
    letter-spacing: 2px;
    font-size: 70px;
    margin: 0;
}

#About-Title {
    font-family: 'Apercu-Regular', sans-serif;
    font-size: 25px;
    margin: 0;
}

#About-Body {
    color: gray;
    font-size: 20px;
    font-family: 'Apercu-Light';
    padding-right: 30%;
}

@media (max-width:768px) {
    .row.collapse,
    .row.collapsing {
        margin-left: 0 !important;
        left: 0 !important;
        overflow: visible;
    }
    
    .row > .sidebar.collapse {
        display: flex !important;
        margin-left: -100% !important;
        transition: all .25s linear;
        position: fixed;
        z-index: 1050;
        max-width: 0;
        min-width: 0;
        flex-basis: auto;
    }
    
    .row > .sidebar.collapse.show {
        margin-left: 0 !important;
        width: 100%;
        max-width: 100%;
        min-width: initial;
    }
    
    .row > .sidebar.collapsing {
        display: flex !important;
        margin-left: -10% !important;
        transition: all .2s linear !important;
        position: fixed;
        z-index: 1050;
        min-width: initial;
    }
    
}



#Work-Page {
    height: 100vh;
}

#Work-Page-Title {
    display: none;
}

#Work-List {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    max-height: 100%;
    position: relative;
}

#Work-List::-webkit-scrollbar-track {
    background-color: white;
}

#Work-List::-webkit-scrollbar {
    width: 0px;
}

#Work-List::-webkit-scrollbar-thumb {
    background-color: #0ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                       color-stop(.5, white),
                       color-stop(.5, lightgray), to(lightgray));
}


.project {
    padding: 40px;
    position: relative;
}

#Work-List:first-child::after {
    content: ' ';
    width: 0.5px;
    height: 4em;
    background-color: #bdbdbd;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 0 4px 10px 0.3px gray;
}

.project > h1 {
    font-size: 25px;
    padding-top: 20px;
    font-family: 'Apercu-Regular', sans-serif;
}

.project > p {
    font-size: 18px;
    font-family: 'Apercu-Light', sans-serif;
    color: gray;
}

.languages {
    padding-top: 10%;
}

.languages > * {
    font-size: 15px;
    margin-right: 10px;
    padding: 0 10px; 
    border: 1px solid #ac7339;
    border-radius: 5px;
}

.project-image {
    width: 600px;
    height: 300px;
}

.image-wrapper {
    position: relative;
}

.image-wrapper:hover .overlay {
    opacity: 1;


}

.image-wrapper:hover .overlay .buttons a {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.image-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20%;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
}

.image-wrapper .overlay a {
    display: inline-block;
    color: #fff;
    padding: 10px 23px;
    line-height: 1;
    border: 1px solid #fff;
    border-radius: 0px;
    margin: 4px;
}

.image-wrapper .overlay a:hover {
    text-decoration: none;
}

.image-wrapper .overlay:hover a {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}




#Contact-Page {
    height: 100vh;
}

#Contact-Form-Panel {
    color: black;
    position: relative;
    display: block;
    height: 95%;
    padding: 0 10vh 0 0;
}


#Contact-Form {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    font-family: 'Apercu-Light', sans-serif;
    padding: 8vh 5vh 7vh 5vh;
    background-image: url('./images/ContactForm.jpg');
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Contact-Form-Title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Red Hat Display', sans-serif;
}

.form-control {
    font-size: 12px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
}

#Contact-Form-Button {
    background-color: black;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    border: none;
    width: auto;
    padding: 3px 40px;
}


#Contact-Information-Panel{
    padding: 10vh 7vh 0 7vh;
    font-size: 20px;
}

#Contact-Information-Panel > h1{
    font-family: 'Chantilly-Serial';
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 70px;
}

#Contact-Blurb {
    color: #424242;
    font-family: 'Apercu-Light';
}

#Contact-Information {
    font-family: 'Calibri';
    font-size: 18px;
    margin-top: 20%;
}

#Contact-Buttons > * {
    margin-right: 20px;
}

#Contact-Buttons img {
    width: 30px;
    height: 30px;
}

@media (max-width:930px) {
    #Contact-Form {
        padding: 8vh 3vh 7vh 3vh;
    }
}


@media (max-width:870px) {

    
    #About-Name {
        font-size: 70px;
    }
    #About-Picture {
        display: none !important;
    }
    
    #About-Body {
        padding-right: 5%;
    }
    
    #Contact-Information {
        margin-top: 10%;
    }
    
    #Contact-Information-Panel {
        flex-basis: 100%;
        max-width: 100%;
    }
    
    #Contact-Form {
        display: none !important;
    }
}


/*---Media Queries --*/
@media (max-width: 620px) {
    .col-10 {
        max-width: 100%;
        flex: 0 0 100%;
    }
    
    body {
        overflow: visible !important;
    }
    
    #Mobile-Navbar {
        display: flex !important;
        align-items: center;
        position: fixed;
        background-color: white;
        z-index: 999;
    }
    
    .fa-1x {
        font-size: 1.5rem;
    }
    
    #Sidebar {
        display: none !important;
    }
    
    #About-Page {
        display: flex;
        justify-content: center;
        flex-direction: column;   
    }
    
    #About-Name {
        font-size: 50px;
    }
    
    #About-Body {
        flex-basis: 0;
        padding-right: 0;
    }
    
    #About-Header {
        position: relative;
        padding-top: 1em;
    }
    
    
    #Work-Page {
        height: auto;
    }
    
    #Work-Page-Title {
        display: block;
        font-size: 20px;
        font-family: 'Apercu-Regular', sans-serif;
        color: black;
        margin: 0;
        padding-left: 10px;
        
    }
    
    #Work-List:first-child::after {
        width: 0px;
    }

    #Work-List {
        flex-wrap: wrap;
        overflow: visible;
        max-height: 100%;
    }
    
    .project > h1 {
        font-size: 15px;
        padding-top: 20px;
        font-family: 'Apercu-Regular', sans-serif;
    }

    .project > p {
        font-size: 13px;
        font-family: 'Apercu-Light', sans-serif;
        color: gray;
    }

    .languages {
        padding-top: 1%;
    }

    .languages > * {
        font-size: 10px;
        margin-right: 10px;
        padding: 0 10px; 
        border: 1px solid #ac7339;
    }

    .project-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .image-wrapper {
        position: relative;
    }

    .image-wrapper:hover .overlay {
        opacity: 1;


    }

    .image-wrapper:hover .overlay .buttons a {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    .image-wrapper .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 20%;
        text-align: center;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        -webkit-transition: opacity 400ms;
        transition: opacity 400ms;
    }

    .image-wrapper .overlay a {
        display: inline-block;
        color: #fff;
        padding: 10px 23px;
        line-height: 1;
        border: 1px solid #fff;
        border-radius: 0px;
        margin: 4px;
    }

    .image-wrapper .overlay a:hover {
        text-decoration: none;
    }

    .image-wrapper .overlay:hover a {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }


    
    #Contact-Page {
        height: auto;
        padding-bottom: 7vh;
        color: white;
        background-color: black;
    }
    
    #Contact-Information {
        margin: 0;
        flex-basis: 60%;
    }
    
    #Contact-Buttons {
        flex-basis: 40%;
    }
    
    #Contact-Information-Panel {
        padding-top: 5vh;
        display: flex;
    }
    
    
    
    
    #Contact-Information-Panel > h1 {
        display: none !important;
    }
    
    #Contact-Blurb {
        display: none !important;
    }

}

@media (max-width: 440px) {
    #About-Name {
        font-size: 30px;
    }
    
    #About-Title {
        font-size: 20px;
    }
    
    #About-Body {
        font-size: 15px;
    }
}

